<center>
  <h3>Welcome to Leave Management</h3>
  <br>
  <div class="container">
    <table class="table table-striped table-bordered" style= "width:475px">
      <tbody>
        <tr>
          <td>Every user can potentially request for leave.</td>
        </tr>
        <tr>
          <td>A manager answer's their employees' leave requests.</td>
        </tr>
        <tr>
          <td>Leave cannot be requested in backdate.</td>
        </tr>
        <tr>
          <td>Leaves cannot be answered in backdate.</td>
        </tr>
        <tr>
          <td>A user cannot request leaves if their allotted leaves are consumed.</td>
        </tr> 
        <tr>
          <td>When a new user joins, their manager must allot them leaves from Employee Leave Record link.</td>
        </tr>
        <tr>
          <td>Each new user is allotted a unit salary by default.</td>
        </tr>\
        <tr>
          <td>Manager must update employee salary in order to calculate damages.</td>
        </tr>
      </tbody>
    </table>
  </div>
<center>